body {
  background-color: #b4d2ba;
}

#title {
  text-align: center;
  font-size: xx-large;
  letter-spacing: 0.4rem;
  padding: 10px 0;
}

.text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#score-text {
  font-weight: lighter;
}

#start-button {
  background-color: white;
  border: none;
  border-radius: 12px;
  padding: 0 5px;
  font-weight: lighter;
}

#start-button:hover {
  background-color: #d3d3d3;
}

.container {
  display: flex;
  justify-content: center;
}

#trackers {
  display: flex;
  justify-content: space-around;
  padding: 0 25% 50px 25%;
}

.grid {
  width: 200px;
  height: 400px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  height: 20px;
  width: 20px;
}

.tetromino {
  background-color: blue;
}

.mini-grid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.mini-grid div {
  height: 20px;
  width: 20px;
}
